@charset "UTF-8";
/* Style for our header texts
	* --------------------------------------- */
h1 {
	font-size: 5em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
}

#main {
	overflow: hidden;
	height: 100%;
	font-size: 100%;
}
/*header logo*/
#main #header {
	z-index: 3;
}

#main .logo a {
	color: rgba(255, 255, 255);
}

#main .logo a img {
	position: fixed;
	width: 147px;
	z-index: 99;
	top: 34px;
	left: 50px;
}

/* categories */
#categories {
	color: rgba(255, 255, 255);
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

#categories #shop {
	cursor: pointer;
}

#categories .category_left {
	position: fixed;
	left: 50px;
	top: 150px;
	z-index: 4;
	vertical-align: center;
	line-height: 30px;
}

#categories .category_left .shop_Contents {
	padding-left: 10px;
}

#categories .category_left div a {
	color: rgba(255, 255, 255);
	font-size: 12px;
}

#categories .right_contents {
	position: fixed;
	right: 60px;
	top: 30px;
	z-index: 4;
	vertical-align: center;
}

#categories .right_contents ul li {
	display: inline-block;
	padding-left: 20px;
	cursor: pointer;
}

#categories .right_contents ul li a {
	display: block;
	color: rgba(255, 255, 255);
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

/*  section part  */
#fullpage .section {
	background-position: center center; background-no-repeat;
	width: 100%;
	background-size: cover;
	display: table;
	table-layout: fixed;
	overflow: hidden;
}

#section-footer {
	width: 100%;
	padding: 20px 50px 0px;
	bottom: 0px;
	background: #fff;
	z-index: 1;
	padding: 20px 50px 0px;
}

#section1 h1 {
	font-size: 6em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
}

#section1 h3 {
	font-size: 2.2em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
}

#section1 a {
	font-size: 1.5em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: arial, helvetica;
}

#section1 a:hover {
	/* text-decoration:underline;
	text-decoration-color:yellow; */
	padding-bottom: 3px;
	border-bottom: 1px solid yellow;
}

.intro p {
	color: #fff;
}

/* Centered texts in each section
	* --------------------------------------- */
.section {
	text-align: center;
}
/*  main part - footer  */
#section-footer {
	width: 100%;
	height: 100%;
	padding: 20px 50px 0px;
	bottom: 0;
	background: #fff;
	z-index: 1;
	font-size: 11px;
	letter-spacing: 0.5px;
}

#section-footer .intro {
	width: 100%;
	height: 100%;
	text-align: left;
}

#section-footer .intro .subintro {
	overflow: hidden;
	height: 200px;
}

#section-footer .intro .left_footer {
	width: 30%;
	margin-right: 3%;
	border-right: 1px solid #f1f1f1;
	line-height: 2.5em;
	float: left;
	font-weight: 500;
}

#section-footer .intro .left_footer ul li {
	display: block;
	color: #999;
}

#section-footer .intro .left_footer ul li.follow a {
	display:inline-block;
	padding-right:5px;
}

#section-footer .intro .left_footer ul li span {
	padding-left: 3px;
	display: inline-block;
	color: #000;
}

#section-footer .intro .center_footer {
	width: 30%;
	margin-right: 3%;
	border-right: 1px solid #f1f1f1;
	line-height: 2.5em;
	float: left;
	font-weight: 500;
}

#section-footer .intro .center_footer ul li {
	display: block;
	color: #999;
}

#section-footer .intro .center_footer span {
	color: #666;
}

#section-footer .intro .right_footer {
	width: 30%;
	margin-right: 3%;
	line-height: 2.5em;
	float: left;
	font-weight: 500;
}

#section-footer .intro .right_footer ul li {
	display: block;
	color: #999;
}

#section-footer .intro .right_footer span {
	color: #666;
}